<div class="gray-bg">
    <div class="space-70"></div>
    <div class="container">
        <div class="heading-style-center">
            <h2>Some of Barb Schwarz Accomplishments</h2>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 color-black">
                <h3 class="text-center">The Creator of Home Staging - Barb Schwarz</h3>

                <ul class="space-top-20">
                    <li>Creator of The Staged Homes Concept and Home Staging Industry</li>
                    <li>Creator of The Accredited Staging Professional® Course and The ASP® Master Course</li>
                    <li>Creator of The ASP® and ASPM® Designations</li>
                    <li>Lifetime Achievement Award by The Seattle King County Association of Realtors® for inventing Home Staging</li>
                    <li>Best Selling Author</li>
                    <li>Award-Winning Professional Speaker</li>
                    <li>Professional Real Estate Broker</li>
                    <li>Founder of StagedHomes.com</li>
                    <li>Founder of The Staging University®</li>
                    <li>Founder and Chairwoman Emeritus of The International Association of Home Staging Professionals IAHSP.com</li>
                    <li>Founder of The IAHSP Charitable Foundation</li>
                    <li>Creator of The StagingShoppingCenter.com</li>
                </ul>

                <p>
                    Barb Schwarz has Educated Realtors®, Home Stagers, and the Public on Home Staging since 1972. Barb is the
                    Inventor and True Visionary who came up with the Staging Concept. She has built the Staging Industry from
                    day one before any others had thought of it. Barb has personally taught over one million people in her
                    classes since 1985. This year Barb marks her 27th anniversary year as a Professional Speaker and A Certified
                    Speaking Professional. Barb is rated in the top 50 Most Influential Women in Real Estate Around the World by
                    The Real Estate Network. Barb Schwarz pioneered and created the "Staging To Sell" and "Staging To Live" ®
                    concepts. She has traveled the country extensively from 1985 to present time, spreading the mission of Home
                    Staging to millions.
                </p>

                <h4 class="space-top-40">Professional Speaker</h4>
                <p>
                    As a seasoned speaker and top Real Estate producer, Barb Schwarz has logged over 22,000 hours on the platform.
                    Hundreds of thousands of REALTORS® have attended her various programs. Her wonderful gift for speaking and her
                    ability to educate, motivate and entertain was recognized by the National Speakers Association in 1990 when they
                    awarded her the coveted designation of Certified Speaking Professional (CSP), earned by less than 250 speakers
                    worldwide. Barb Schwarz is a leader, an innovator, a real visionary, and a truly gifted speaker who shares the
                    wisdom of her personal triumphs. Those who experience Barb are always struck by her incredible energy as well as
                    the highly educational and practical substance of her programs. IN 2016 Barb marked her 31st year as a Professional
                    Speaker and Trainer.
                </p>

                <h4 class="space-top-40">Best Selling Author</h4>
                <p>
                    Barb Schwarz has published articles in numerous national publications addressing a variety of real estate
                    topics and is written about monthly in well known newspapers and magazines all around the U.S. and Canada. Barb
                    is internationally known as The Creator of Home Staging® and The Home Staging Industry for which she holds
                    the Federal registered trademark. Her video "How To Prepare Your Home For Sale...So It Sells" won the Consumer
                    Education Product of the Year Award from the Real Estate Educators of America. Her Home Staging video entitled
                    "How To Stage Your Home So It Sells For Top Dollar" receives rave reviews. She is the author of the best
                    selling books entitled "How To List And Sell Residential Real Estate Successfully" and "Home Staging: The
                    Winning Way to Sell Your House for More Money" and 'Building a Successful Home Staging Business' and "Staging
                    To Sell: The Secret to Selling Homes in a Down Market" published by Wiley & Sons and ‘If You Wear Out Your
                    Body Where Will You Live’ in bookstores and on Amazon.com.
                </p>

                <h4 class="space-top-40">The Creator of Home Staging® and The Home Staging Industry</h4>
                <p>
                    Barb is the creator of "Staging To Sell and Staging To Live" ® concepts and she holds the Federally Registered
                    Trademark from the US and Canadian Governments on Stage®. Barb Invented the Home Staging Concept and industry
                    when she entered the world of Real Estate as an Agent in Bellevue, WA in the early 70’s. She quickly saw and
                    realized the need sellers have of preparing their homes for sale. Her background in the theater and music
                    gave her the idea of setting the scene and setting the Stage® for buyers to see properties in the best way.
                    This is how she came up with her concepts and called it Home Staging. Barb Schwarz has also personally Staged
                    and Sold over 5,000 homes in the greater Seattle area.
                </p>

                <h4 class="space-top-40">StagedHomes.com... and The ASP® and ASPM® Courses and Designations</h4>
                <p>
                    Barb Schwarz is the Founder of Stagedhomes.com. StagedHomes.com was the very first Staging Educational
                    website in the world and is the Internationally recognized leader in the Home Staging Industry because of
                    the: Home Staging educational trainings of the ASP® Course and Designation, the Stagedhomes.com Home Staging
                    Directory where the public finds ASP® Real Estate Agents and ASP® Stagers to list and Stage® their homes,
                    and the Stagedhomes.com Staged Homes portal which lists homes that are Staged for sale. Stagedhomes.com is
                    also based upon over 44 years of experience and leadership through Barb Schwarz experience and innovation.
                    Stagedhomes.com is the resource to the Home Staging industry and sets the bar of excellence in the Home
                    Staging world. As The Creator of Home Staging® Barb developed the Accredited Staging Professional, ASP/ASPM®
                    Courses and Designations. The ASP® designation is the premier Home Staging Designation in the Home Staging
                    and Real Estate Industries. StagedHomes.com trains Real Estate agents, as they earn the ASP® Real Estate
                    Designation, how to educate sellers on the benefits of Home Staging, how to price and market Staged Homes,
                    Listing Presentation skills, and how to work with an ASP® Home Stager as well as Home Staging tips and ideas.
                    Home Stagers earn the ASP® Stager Designation and learn how to open, market, run, and build a Home Staging
                    Business. StagedHomes.com trains real estate agents in a 2 day ASP Course and Home Stagers in a 3 day course.
                    The ASP® Courses are currently taught across the United States and Canada and around the world! The Masters,
                    ASPM®, Course Barb developed and wrote as an additional 5 day Staging Training Course for ASP®’s to become
                    ASPM® Masters as well.
                </p>

                <h4 class="space-top-40">Barb's Accomplishments Include:</h4>
                <ul>
                    <li>The Creator of Home Staging® and The Home Staging Industry</li>
                    <li>Founder Stagedhomes.com</li>
                    <li>Founder and Chairwoman Emeritus of The International Association of Home Staging Professionals</li>
                    <li>Founder of The IAHSP Charitable Foundation®</li>
                    <li>Founder of The Staging University®</li>
                    <li>Creator of The Accredited Staging Professional®, ASP® Courses and ASP® Designation</li>
                    <li>Creator of The Accredited Staging Professional Master®, ASPM® Courses and ASPM® Designation</li>
                    <li>Keynote Speaker, Seminar Leader, Author, Visionary, Inventor, and Training Consultant.</li>
                    <li>Over 2,000 Full Day Seminars, 22,000 Hours on the Platform, and over 1,300,000 attendees in the US and Canada</li>
                    <li>Guest speaker at The National Association of REALTORS® National Conventions</li>
                    <li>Lifetime Achievement Award by The Seattle King County Association of Realtors® for inventing Home Staging</li>
                    <li>Instructor of the Year by The Seattle King County Association of REALTORS® for the year 2006</li>
                    <li>Recognized as the National and International Expert on Staging Homes For Sale, she has written and published hundreds of articles on Staging Homes and is frequently featured on TV and Radio Shows nationally sharing her expertise.</li>
                    <li>Known nationally as the number one expert for preparing property to sell. Barb introduced this concept of Staging to the country and it has changed the way real estate is practiced in our nation today. She holds the Federally registered trademark for The Creator of Home Staging®.</li>
                    <li>An estimated 65,000,000 consumers nationally have benefited from using Barb's award winning video, "How To Prepare Your Home For Sale... So It Sells." This video demonstrates to property owners how to prepare their property for sale. The benefits are far reaching. Home sellers who use this video sell their homes faster and / or for more money.</li>
                    <li>Author of "How To List and Sell Residential Real Estate Successfully"</li>
                    <li>Author of "Home Staging: The Winning Way to Sell Your House for More Money"</li>
                    <li>Author of "How To Build a Successful Home Staging Business"</li>
                    <li>Author of "Staging To Sell: The Secret to Selling Homes in a Down Market."</li>
                    <li>Author of “If You Wear Out Your Body Where Will You Live.”</li>
                    <li>Wrote, directed, produced, and acted in her one hour Staging video "How To Prepare Your Home For Sale...So It Sell." The video won the "Consumer Education Product of the Year" award, given nationally by the Real Estate Educators of America.</li>
                    <li>Wrote, directed, produced, and acted in her one hour Staging videos "How To Stage Your Home To Sell For Top Dollar" and "How To Price Your Home For Top Dollar".</li>
                    <li>Featured on ABC's 20-20 two different times for her work, vision, and invention of Home Staging. The 20-20 video is also available for viewing on our <a href="http://stagedhomes.com/mediacenter/mediacenter.php" target="_blank">ASP Media</a> page.</li>
                    <li>Written about extensively in: The New York Times, Business Week Magazine, Southwest Airlines Magazine, The Home Magazine, New York Home Magazine, Realtor Magazine, US News and World Report, The Washington Post, The Wall Street Journal, Money Magazine, and Smart Money Magazine, Cosmopolitan Magazine, and many more hundreds of magazines and newspaper articles.</li>
                    <li>Barb is frequently featured on various local news broadcasts around the U.S. as the Home Staging expert, such as ABC, CNN, FOX, NBC, CBS and PBS.  <a href="http://stagedhomes.com/mediacenter/mediacenter.php" target="_blank">ASP Media</a> page.</li>
                </ul>

                <h4 class="space-top-40">Personal</h4>
                <p>
                    Barb grew up in Kansas in her earlier years. She graduated from The University of Washington with degrees
                    in Education, Music and Design. Barb taught school for several years before opening her decorating business,
                    which then led her to become a Real Estate Broker.  It is in Real Estate where she developed and created the
                    concept of Staging in the early 70’s. After many successful years as a Real Estate Broker using her Staging
                    Concept and ideas she became a professional speaker and trainer to help educate the world about Home Staging
                    in 1985. Since then the rest is now history and with you above.
                </p>
                <p>
                    Barb has been married for over 33 years! She has a darling special needs daughter whom she loves, adores and
                    learns so much from. Barb’s favorite hobby is gardening. She works tirelessly in her garden and Stages® her
                    Garden as well.  Barb also of course Stages® everything, loves to read, write, create and develop new ideas,
                    shop for items for the home, continue to help ASP’s throughout the world and help others in her community.
                    Barb and her family reside in Washington State in the Seattle area.
                </p>
            </div>
        </div>
    </div>
    <div class="space-70"></div>
</div>
