<div class="gray-bg">
    <div class="space-70"></div>
    <div class="container">
        <div class="heading-style-center">

            <h2>Accomplishments</h2>

        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <ul class="list-inline hover-tabs icon-tabs text-center">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#tab-16" aria-expanded="true">
                            <span class="fa fa-sliders"></span>
                        </a>
                    </li>
                    <li role="presentation" class=""><a data-toggle="tab" href="#tab-17" aria-expanded="false">
                            <span class="fa fa-mobile"></span>
                        </a>
                    </li>
                    <li role="presentation" class=""><a data-toggle="tab" href="#tab-18" aria-expanded="false">
                            <span class="fa fa-code"></span>
                        </a>
                    </li>
                    <li role="presentation" class=""><a data-toggle="tab" href="#tab-19" aria-expanded="false">
                            <span class="fa fa-money"></span>
                        </a>
                    </li>
                    <li role="presentation" class=""><a data-toggle="tab" href="#tab-20" aria-expanded="false">
                            <span class="fa fa-list-alt"></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content icons-tab-content">
                    <div id="tab-16" class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <h3>Powerful slider options</h3>
                                <p>
                                    Taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

                                    I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-17" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <h3>Mobile friendly</h3>
                                <p>
                                    Sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

                                    I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-18" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <h3>Clean &amp; commented code</h3>
                                <p>
                                    Serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

                                    I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-19" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <h3>Free updates &amp; support for lifetime</h3>
                                <p>
                                    Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

                                    I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-20" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <h3>Countless possibilities</h3>
                                <p>
                                    Like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.

                                    I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-70"></div>
</div>
