<div class="space-70"></div>
<div class="container color-black">
    <div class="row margin-b-40">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h2>ABOUT BARB SCHWARZ</h2>

            <p class="text-align-left">
                Barb Schwarz is The Creator of The Home Staging® Concept and Home Staging Industry around the world.  Barb
                is also the Creator of The Accredited Staging Professional® Courses and The ASP® Designations.  She is
                internationally known as a best Selling Author who has written numerous books on Home Staging and Real
                Estate.  Barb is an Award-Winning Accomplished Professional Speaker and has trained Home Staging from the
                platform for over 22,000 hours.
            </p>
            <p class="text-align-left">
                Barb Schwarz is the Founder of StagedHomes.com, and The Staging University® and the Founder and Chairwoman
                Emeritus of The International Association of Home Staging Professionals®, IAHSP.com, and IAHSP® Foundation.
                REALTORS® and Home Stagers know that Barb Schwarz is the Go-To expert that invented and built the Home Staging
                Industry around the world after teaching over one million REALTORS® and Home Stagers live in her seminar
                trainings her Home Staging Concepts.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                The Creator of Home Staging
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                The ASP Designation and Courses
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSHC">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSHC" aria-expanded="false" aria-controls="collapseSHC">
                                Stagedhomes.com
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSHC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSHC">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                The Staging University
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                The IAHSP Staging Association
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                World Wide Staging Service Week
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingBarbsGarden">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBarbsGarden" aria-expanded="false" aria-controls="collapseBarbsGarden">
                                Barb Schwarz Garden
                            </a>
                        </h4>
                    </div>
                    <div id="collapseBarbsGarden" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBarbsGarden">
                        <div class="panel-body">
                            <p>
                                I like to say, ‘Enjoy the Beauty of the Garden of Life Everyday.’  Life is like a Garden and a
                                Garden is like Life.  I see it all of the time and we are each an important part of the Garden
                                of Life. As a child I had a garden and loved every minute in it. My Grandparents, especially
                                my Grandmother, taught me ideas I use to this very day in my Garden now. I hope you will enjoy
                                following me on my Face Book site of
                                <a href="https://www.facebook.com/BarbSchwarzGarden/" target="_blank">BarbSchwarzGarden</a>.
                                There I am sharing ideas and pictures about Staging Landscapes all kinds of information about
                                gardening ideas, growing flowers, roses, vegetables, fruits, shrubs, trees and more. Objectively
                                I will share my favorite products, tools, and where to find items in which stores to save you
                                time and ways to save dollars too.  I will tell you how do you keep your roses blooming all of
                                the time.  How do you keep mold away from plants? How to keep the bugs at bay! How to have your
                                garden or yard look like one from a magazine with flair and innovation that work for Your Style.
                            </p>
                            <p>
                                Visit me there daily for a moment to brighten your day and pick up quick ideas and tips. I hope
                                you will ‘like’ my BarbSchwarzGarden (link here too) Facebook page and leave a comment for me
                                and an idea also that I can share with others from you too.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /col-xs-12" -->
    </div>

    <div class="space-70"></div>
</div><!--container end-->
