<div class="space-70"></div>
<div class="container color-black">
    <div class="row margin-b-40">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h2>ABOUT BARB SCHWARZ</h2>

            <p class="text-align-left">
                Barb Schwarz is The Creator of The Home Staging® Concept and Home Staging Industry around the world.  Barb
                is also the Creator of The Accredited Staging Professional® Courses and The ASP® Designations.  She is
                internationally known as a best Selling Author who has written numerous books on Home Staging and Real
                Estate.  Barb is an Award-Winning Accomplished Professional Speaker and has trained Home Staging from the
                platform for over 22,000 hours.
            </p>
            <p class="text-align-left">
                Barb Schwarz is the Founder of StagedHomes.com, and The Staging University® and the Founder and Chairwoman
                Emeritus of The International Association of Home Staging Professionals®, IAHSP.com, and IAHSP® Foundation.
                REALTORS® and Home Stagers know that Barb Schwarz is the Go-To expert that invented and built the Home Staging
                Industry around the world after teaching over one million REALTORS® and Home Stagers live in her seminar
                trainings her Home Staging Concepts.
            </p>
        </div>
    </div>
</div>

<!-- House Pictures -->
<div class="space-40"></div>
<div class="container-fluid no-padd">
    <div class="row no-margin">
        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-fountain-garden.jpg" alt="Lawn with Fountain" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->
        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-kitchen.jpg" alt="Kitchen" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->
        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-loft.jpg" alt="Loft" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->
        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-living-room.jpg" alt="Living Room" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->

        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-outside-house.jpg" alt="Home Yard" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->

        <div class="col-sm-2 no-padd text-center">
            <div class="team-style-2">
                <img src="assets/images/about-outside-footsteps.jpg" alt="Outside House with Stairs" class="img-responsive" />
            </div><!--team style  end-->
        </div><!--col end-->
    </div><!--row end-->
</div>

<div class="">
    <div class="space-70"></div>
    <div class="container color-black">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Barb Schwarz is The Creator of Home Staging® and The Home Staging Industry
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>
                                    Barb Schwarz has Educated Realtors®, Home Stagers, and the Public on Home Staging since the early 70’s. Barb is
                                    the Creator, Inventor and True Visionary who came up with the Staging Concept. She has built the Staging Industry
                                    from day one before any others had thought of it. There was no Staging concept in the Real Estate Industry at all
                                    until she came up with the Home Staging Concept. Barb Invented the Home Staging Concept and industry when she entered
                                    the world of Real Estate as an Agent in Bellevue, WA in the early 70’s. She quickly saw and realized the need sellers
                                    have of preparing their homes for sale. Her background in the theater in musicals and off Broadway plays gave her the
                                    idea of setting the scene and setting the Stage® in houses for buyers to see properties in the best way. This is how
                                    she came up with her concepts and called it Home Staging. Barb has frequently said that her invention of Home Staging
                                    was a gift from God.  Her focus, ideas, vision, and creativity in this area became her mission and to this very day her
                                    passion grows more every-day. Her mission is to help create a better world through better home environments through the
                                    magic of Home Staging.
                                </p>

                                <p>
                                    During Barb’s real estate career she personally Staged and Sold over 5,000 homes in the greater Seattle area. Now Barb
                                    has personally trained and taught over one million people in her classes since 1985. This year Barb marks her 32nd
                                    anniversary year as a Professional Speaker. She is a ‘Certified Speaking Professional’ designated by and awarded to
                                    Barb by The National Speakers Association in 1990.   Barb is rated in the top 50 Most Influential Women in Real Estate
                                    Around the World by The Real Estate Network. Barb Schwarz pioneered and created both the "Staging To Sell" and "Staging
                                    To Live" ® concepts. She traveled the country and North America extensively from 1985 to today spreading vision and
                                    mission of Home Staging to millions through her live trainings, seminars, best-selling books, and her award winning
                                    DVD’s.
                                </p>

                                <ul>
                                    <li>Creator of The Staged Homes Concept and Home Staging Industry</li>
                                    <li>Creator of The Accredited Staging Professional®, ASP®, Course and The ASP® Master Course</li>
                                    <li>Creator of The ASP® and ASPM® Designations</li>
                                    <li>Lifetime Achievement Award given to Barb Schwarz by The Seattle King County Association of Realtors® for inventing Home Staging</li>
                                    <li>Best Selling Author (please see her books named under The Author Category below)</li>
                                    <li>Creator of The CAREERBook®</li>
                                    <li>Award-Winning Professional Speaker</li>
                                    <li>Founder of StagedHomes.com®</li>
                                    <li>Founder of The Staging University®</li>
                                    <li>Founder and Chairwoman Emeritus of The International Association of Home Staging Professionals® IAHSP.com</li>
                                    <li>Founder of The IAHSP® Charitable Foundation</li>
                                    <li>Founder of The World Wide Staging Service Week®, WWSSW®</li>
                                    <li>Founder of The StagingShoppingCenter.com</li>
                                    <li>Rated as a Premier Top Producer as a Professional Real Estate Broker during her Real Estate Career</li>
                                </ul>

                                <p>

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Barb’s Career as a Certified Speaking Professional® Speaker
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    As a seasoned speaker and trainer Barb Schwarz has logged over 22,000 hours on the platform teaching Home Staging in
                                    her Staging Seminars and Trainings. Hundreds of thousands of REALTORS® have attended her various programs. By educating
                                    the public, REALTORS®, and Home Staging professionals she has taught over 1,000,000 people live in her programs.  Her
                                    wonderful gift for speaking and her ability to educate, motivate and entertain was recognized by the National Speakers
                                    Association in 1990 when they awarded her the coveted designation of ‘Certified Speaking Professional’® which has been
                                    earned by less than 250 speakers worldwide. Barb Schwarz is a leader, an innovator, a real visionary, and a truly gifted
                                    speaker who shares the wisdom of her personal triumphs. Those who experience Barb always say how they are struck by, or
                                    even blown away by her incredible heart felt energy as well as the highly educational and ground breaking ideas and
                                    innovative substance of her programs. In 2016 Barb marked her 32nd year as a Professional Speaker and Trainer.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSHC">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSHC" aria-expanded="false" aria-controls="collapseSHC">
                                    Barb is a World Renowned Best Selling Author
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSHC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSHC">
                            <div class="panel-body">
                                <p>
                                    Barb Schwarz has published countless articles in numerous national publications addressing a variety of Staging and
                                    Real Estate topics.   She is written about frequently in well-known newspapers and magazines all around the U.S.,
                                    Canada, such as The New York Times, The Washington Post, The San Francisco Chronicle, Ladies Home Journal, Money
                                    Magazine, Better Homes and Gardens and the list goes on.  Barb is internationally known as The Creator of Home
                                    Staging® and The Home Staging Industry around the world. Her video "How To Prepare Your Home For Sale...So It
                                    Sells" won the Consumer Education Product of the Year Award from the Real Estate Educators of America. Her Home
                                    Staging video entitled "How To Stage Your Home So It Sells For Top Dollar" is seen by literally millions of sellers
                                    and RE Agents and Stagers everywhere every year. Barb Schwarz is the author of her bestselling books entitled:
                                </p>

                                <ul>
                                    <li>"How To List And Sell Residential Real Estate Successfully" (Barb’s book changed the RE Industry with her innovative Real Estate Selling Concepts and Proven Ideas, such as her CAREERBook® concept, and it was the very first book ever published that introduced Barb’s Home Staging invention to the world).</li>
                                    <li>"Home Staging: The Winning Way to Sell Your House for More Money" (the very first book totally written and published on Home Staging). Published by Wiley and Sons</li>
                                    <li>"Building a Successful Home Staging Business' (the very first book written and published on How to Open, Run and Build a Home Staging Business). Published by Wiley and Sons</li>
                                    <li>"Staging To Sell: The Secret to Selling Homes" (this book contains Barb’s full Home Staging Course and Program and is for all kinds of Real Estate markets). Published by Wiley and Sons</li>
                                    <li>"If You Wear Out Your Body Where Will You Live"</li>
                                </ul>

                                <p>Each of her books are available in bookstores or on Amazon.com.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    The Staging University
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    The IAHSP Staging Association
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    World Wide Staging Service Week
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingBarbsGarden">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBarbsGarden" aria-expanded="false" aria-controls="collapseBarbsGarden">
                                    Barb Schwarz Garden
                                </a>
                            </h4>
                        </div>
                        <div id="collapseBarbsGarden" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBarbsGarden">
                            <div class="panel-body">
                                <p>
                                    I like to say, ‘Enjoy the Beauty of the Garden of Life Everyday.’  Life is like a Garden and a
                                    Garden is like Life.  I see it all of the time and we are each an important part of the Garden
                                    of Life. As a child I had a garden and loved every minute in it. My Grandparents, especially
                                    my Grandmother, taught me ideas I use to this very day in my Garden now. I hope you will enjoy
                                    following me on my Face Book site of
                                    <a href="https://www.facebook.com/BarbSchwarzGarden/" target="_blank">BarbSchwarzGarden</a>.
                                    There I am sharing ideas and pictures about Staging Landscapes, all kinds of information about
                                    gardening ideas, growing flowers, roses, vegetables, fruits, shrubs, trees and more. Objectively
                                    I will share my favorite products, tools, and where to find items in which stores to save you
                                    time and ways to save dollars too.  I will tell you how do you keep your roses blooming all of
                                    the time.  How do you keep mold away from plants? How to keep the bugs at bay! How to have your
                                    garden or yard look like one from a magazine with flair and innovation that work for Your Style.
                                </p>
                                <p>
                                    Visit me there daily for a moment to brighten your day and pick up quick ideas and tips. I hope
                                    you will ‘like’ my
                                    <a href="https://www.facebook.com/BarbSchwarzGarden/" target="_blank">BarbSchwarzGarden</a>
                                    Facebook page and leave a comment for me and an idea also that I can share with others from
                                    you too.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /col-xs-12" -->
        </div>

        <div class="space-70"></div>
    </div><!--container end-->
</div><!-- /gray-bg -->
