<div class="container v-align-transform text-center smooth-scroll">
    <div class="space-bottom-20"><img src="./assets/images/barb-schwarz-pic.jpg" style="width: 300px;" class="img-responsive center-block" alt="Barb Schwarz" /></div>
    <h1 class="text-uppercase margin-b-10">Barb Schwarz</h1>
    <p class="lead text-bold">
        The Creator of Home Staging®,
        The ASP®/ASPM® Designations &amp; Courses,
        Stagedhomes.com®,
        The Staging University®,
        The IAHSP® Home Staging Association &amp; Foundation &amp; World Wide Staging Service Week®, WWSSW®
    </p>
    <p class="lead text-bold">
        <a href="#about" du-smooth-scroll class="btn btn-lg btn-border btn-hvr btn-rounded hvr-sweep-to-top">Know more</a>
    </p>
</div><!--end-container-->
<div class="bottom-row">
    <ul class="list-inline">
        <li><a href="https://www.facebook.com/barbstagedhomes" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>
</div><!--end bottom row-->
