<div class="space-70"></div>
<div class="container">
    <div class="row space-bottom-40">
        <div class="col-xs-12 text-center">
            <h2>Barb's Thought of The Day</h2>
        </div><!-- /col -->
    </div><!-- /row -->

    <div class="row margin-b-50">
        <div class="col-sm-12 text-center margin-b-30">
            <h3>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                When you think you have exhausted all possibilities remember this: You Have Not
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </h3>
            <p class="color-black">Thomas Edison</p>
        </div><!-- /col -->
    </div><!-- /row -->
</div>
