<div class="space-70"></div>
<div class="container">
    <div class="row space-bottom-40">
        <div class="col-xs-12 text-center">
            <h2>Barb's Thought of The Day</h2>
        </div><!-- /col -->
    </div><!-- /row -->

    <div class="row margin-b-50">
        <div class="col-sm-12 text-center margin-b-30">
            <h3>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                You can work miracles by having faith in others. By choosing to think and believe the best about people, you are able to bring 
                out the best in them.
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </h3>
            <p class="color-black">Bob Moawad</p>
        </div><!-- /col -->
    </div><!-- /row -->
</div>
