.navbar-default.header-transparent .navbar-brand {
    /* one_page.css */
    background-image: none;
    background-repeat: no-repeat;
    width: auto;
    height: 50px;
    text-indent: 0px;
    background-position: 50% 50%;
    margin-left: 12px;

    /* Font Modifications */
    color: #000000;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar-default.header-transparent.shrink .navbar-brand {
    background-image: none;
}

.home-bg {
    background:
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("../images/wallpaper-parallax-barbs-garden.png");
}
